@if (isResourcesLoading()) {
  <div class="resource-spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  @if (formattedResources().length) {
    <h2>Required Materials</h2>
    <div class="recipe-actions">
      @if (isMobileView()) {
        <button mat-raised-button color="primary" (click)="backToForm()">
          Back to item selection
          <i class="fa-solid fa-rotate-left"></i>
        </button>
      }

      <button mat-raised-button color="primary" (click)="copyResources()">
        Copy Resources
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>

    @if (!isMobileView()) {
      <div class="gear-icons">
        @for (image of itemImages(); track $index) {
          <div>
            <img
              [src]="image.imageUrl"
              alt="Gear"
              class="gear-image"
              [matTooltip]="image.name"
            />
          </div>
        }
      </div>
    }

    <div data-ag-theme-mode="dark">
      <ag-grid-angular
        style="height: 502px"
        [rowData]="formattedResources()"
        [columnDefs]="colDefs"
      />
    </div>
  } @else {
    <div class="await-resources">
      <div>
        <img src="osamodas.png" alt="Osamodas" />
      </div>
      <p>Resources will appear here once the form has been submitted.</p>
    </div>
  }
}
