:host {
  .resource-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .recipe-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;

    button {
      max-width: 320px;
    }
  }

  .gear-icons {
    display: flex;
    flex-wrap: wrap;
    background-color: #202020;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;

    div {
      flex: 1 0 12.5%;
      display: flex;
      justify-content: center;
    }
  }

  .await-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (width <= 1000px) {
  :host {
    padding-bottom: 0;

    .recipe {
      .resource-spinner {
        height: 80vh;
      }
    }
  }
}
