:host {
  .resource-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  h2 {
    padding-bottom: 16px;
    margin-top: 0;
  }

  .recipe-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    button {
      max-width: 320px;
    }
  }

  .resource-container {
    max-height: 560px;
    overflow-y: auto;

    border: 2px solid cyan;
    border-radius: 4px;
    padding: 16px;

    .resource {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 20px;
      border-bottom: 1px dotted gray;

      .image-container {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 60px;

        .resource-image {
          height: 32px;
        }
      }

      &-name {
        flex: 2;
      }

      &-quantity {
        flex: 1;
      }
    }
  }

  .await-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (width <= 1000px) {
  :host {
    padding-bottom: 0;

    .recipe {
      .resource-spinner {
        height: 80vh;
      }
    }
  }
}
