@let loading = pageLoading();
@let mobileView = isMobileView();

<header>
  <mat-toolbar>
    <section class="menu-title-nav">
      @if (mobileView) {
        <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
          <i class="fa-solid fa-bars"></i>
        </button>
      }

      <a class="title" routerLink="/gear">
        <span>Recipe Finder</span>
        <img src="cawwot.png" alt="Cawwot" />
      </a>

      @if (!mobileView) {
        <ng-container [ngTemplateOutlet]="navList"></ng-container>
      }
    </section>

    <section class="links">
      <a href="https://discord.gg/VtfDH6X7Tw" target="_blank">
        <button mat-icon-button aria-label="Discord">
          <i class="fa-brands fa-discord"></i>
        </button>
      </a>
      <a href="https://github.com/RamyOuda/recipe-finder" target="_blank">
        <button mat-icon-button aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </button>
      </a>
    </section>
  </mat-toolbar>
</header>

<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <ng-container [ngTemplateOutlet]="navList"></ng-container>
  </mat-drawer>

  @if (loading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</mat-drawer-container>

<ng-template #navList>
  <div [ngClass]="mobileView ? 'nav-links-mobile' : 'nav-links-desktop'">
    <section>
      <a
        mat-button
        routerLink="/gear"
        routerLinkActive="active"
        aria-label="Gear"
        (click)="drawer.close()"
        ><i class="fa-solid fa-shirt"></i> Gear</a
      >
      <a
        mat-button
        routerLink="/consumables"
        routerLinkActive="active"
        aria-label="Consumables"
        (click)="drawer.close()"
        disabled="true"
        ><i class="fa-solid fa-flask"></i> Consumables</a
      >
    </section>
    <section>
      <a
        mat-button
        routerLink="/changelog"
        routerLinkActive="active"
        aria-label="Changelog"
        (click)="drawer.close()"
        ><i class="fa-solid fa-scroll"></i> Changelog</a
      >
    </section>
  </div>
</ng-template>
