:host {
  display: flex;
  gap: 16px;
  padding: 32px;

  .spinner-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    flex: 1;

    h2 {
      text-align: center;
      padding-bottom: 16px;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        flex: 1 0 50%;
        box-sizing: border-box;
        padding: 16px;
      }

      button {
        flex: 1 0 50%;
        box-sizing: border-box;
        margin-top: 16px;
        height: 56px;
      }
    }

    .img-container {
      margin-top: 48px;
      text-align: center;
    }
  }

  .recipe {
    flex: 1;

    h2 {
      text-align: center;
      padding-bottom: 16px;
    }
  }

  footer {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: cyan;
  }
}

@media (max-width: 1000px) {
  :host {
    padding: 8px;

    .recipe {
      display: none;
    }
  }
}
