:host {
  .spinner-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    color: cyan;
    position: absolute;
    bottom: 4px;
    left: 4px;
  }
}
