@let mobileView = isMobileView();
@let formSubmitted = isFormSubmitted();
@let dofusLabLoading = isDofusLabLoading();

@if (!mobileView || !formSubmitted) {
  <section class="form-container">
    <form [formGroup]="equipmentForm" class="resource-form">
      <div class="dofuslab-container">
        <mat-form-field class="dofuslab-input">
          <mat-label>(Optional) Paste your DofusLab build URL!</mat-label>
          <input
            #dofuslab
            matInput
            type="url"
            (input)="onDofusLabInputChange(dofuslab.value)"
          />
        </mat-form-field>

        @if (dofusLabLoading) {
          <mat-spinner class="dofuslab-spinner"></mat-spinner>
        }
      </div>

      <div formGroupName="equipment" class="form-group-equipment">
        <h3 class="form-group-header">Gear</h3>

        <div class="form-inputs-container">
          @for (input of inputs.equipment; track $index) {
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ input.label }}</mat-label>
              <input
                type="text"
                [attr.aria-label]="input.label"
                matInput
                [formControlName]="input.control"
                [matAutocomplete]="auto"
                (focus)="onInputSelected(input.control)"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="autocompleteDisplay"
              >
                @for (option of filteredOptions$ | async; track $index) {
                  <mat-option [value]="option">
                    <div class="mat-option-container">
                      <img [src]="option.imageUrl" loading="lazy" />
                      <span>{{ option.name }}</span>
                    </div>
                  </mat-option>
                }
              </mat-autocomplete>

              @if (isInputValue(input.control)) {
                <button
                  class="clear-button"
                  mat-icon-button
                  matSuffix
                  aria-label="Clear"
                  (click)="clearInput(input.control)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>
          }
        </div>
      </div>

      <mat-divider></mat-divider>

      <div formGroupName="trophies" class="form-group-trophies">
        <h3 class="form-group-header">Trophies</h3>

        <div class="form-inputs-container">
          @for (input of inputs.trophies; track $index) {
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ input.label }}</mat-label>
              <input
                type="text"
                [attr.aria-label]="input.label"
                matInput
                [formControlName]="input.control"
                [matAutocomplete]="auto"
                (focus)="onInputSelected(input.control)"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="autocompleteDisplay"
              >
                @for (option of filteredOptions$ | async; track $index) {
                  <mat-option [value]="option">
                    <div class="mat-option-container">
                      <img [src]="option.imageUrl" loading="lazy" />
                      <span>{{ option.name }}</span>
                    </div>
                  </mat-option>
                }
              </mat-autocomplete>

              @if (isInputValue(input.control)) {
                <button
                  class="clear-button"
                  mat-icon-button
                  matSuffix
                  aria-label="Clear"
                  (click)="clearInput(input.control)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>
          }
        </div>
      </div>

      <button
        class="form-submit"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>
  </section>
}

@if (!mobileView || formSubmitted) {
  <section class="required-resources">
    <app-required-resources (backEvent)="backToForm()"></app-required-resources>
  </section>
}
