@let mobileView = isMobileView();
@let formSubmitted = isFormSubmitted();

@if (!mobileView || !formSubmitted) {
  <section class="inputs">
    <h2>Select Items</h2>

    <form [formGroup]="equipmentForm">
      @for (input of equipmentInputs; track input.control) {
        <mat-form-field>
          <mat-label>{{ input.label }}</mat-label>
          <input
            type="text"
            [attr.aria-label]="input.label"
            matInput
            [formControlName]="input.control"
            [matAutocomplete]="auto"
            (focus)="onInputSelected(input.control)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="autocompleteDisplay"
          >
            @for (option of filteredOptions$ | async; track $index) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
            }
          </mat-autocomplete>

          @if (equipmentForm.get(input.control)?.value) {
            <button
              mat-icon-button
              matSuffix
              aria-label="Clear"
              (click)="clearInput(input.control)"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      }

      <button
        class="submit"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>

    <div class="stuff-container">
      <div class="info-container">
        <p>
          Search and select items in the dropdown menus above. Once the form is
          submitted, all of the resources required to craft those items will
          display with a button to copy to clipboard.
        </p>
        <p>
          Only craftable items will appear as options in the dropdown menus.
        </p>
      </div>

      <div class="image-container">
        <img
          src="OverTheMoon.png"
          alt="Guild Emblem"
          matTooltip="Over the Moon"
          matTooltipPosition="above"
        />
      </div>
    </div>
  </section>
}

@if (!mobileView || formSubmitted) {
  <section class="required-resources">
    <required-resources (backEvent)="backToForm()"></required-resources>
  </section>
}
