:host {
  display: flex;
  gap: 32px;
  padding: 16px;
  box-sizing: border-box;
  flex-grow: 1;

  .form-container {
    flex: 1;

    .resource-form {
      background-color: #202020;
      border-radius: 8px;
      padding: 16px 16px 32px 16px;

      .form-group-equipment {
        .form-group-header {
          margin-top: 0;
        }

        .form-inputs-container {
          display: flex;
          flex-wrap: wrap;
          gap: 0 16px;

          .form-field {
            flex: 0 0 48%;

            .clear-button {
              margin-right: 4px;
            }
          }
        }
      }

      .form-group-trophies {
        .form-inputs-container {
          display: flex;
          flex-wrap: wrap;
          gap: 0 16px;

          .form-field {
            flex: 0 0 30%;

            .clear-button {
              margin-right: 4px;
            }
          }
        }
      }

      .form-actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        .form-reset {
          width: 192px;
        }

        .form-submit {
          width: 192px;
        }
      }
    }
  }

  .required-resources {
    flex: 1;
  }
}

@media (width <= 1000px) {
  :host {
    .form-container {
      .resource-form {
        .form-group-equipment {
          .form-inputs-container {
            .form-field {
              flex: 0 0 47%;
            }
          }
        }

        .form-group-trophies {
          .form-inputs-container {
            .form-field {
              flex: 0 0 47%;
            }
          }
        }

        .form-actions {
          .form-reset {
            flex: 1;
            width: unset;
          }

          .form-submit {
            flex: 1;
            width: unset;
          }
        }
      }
    }
  }
}

// Material Override
.mat-option-container {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    height: 32px;
  }
}
