:host {
  display: flex;
  gap: 32px;
  padding: 16px;

  .inputs {
    flex: 1;

    h2 {
      text-align: center;
      padding-bottom: 16px;
      margin-top: 0;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        flex: 1 0 50%;
        box-sizing: border-box;
        padding: 16px;
      }

      .submit {
        flex: 1 0 50%;
        box-sizing: border-box;
        margin-top: 16px;
        height: 56px;
      }
    }

    .stuff-container {
      display: flex;
      align-items: center;
      margin: 16px;

      .info-container {
        flex: 1;
      }

      .image-container {
        flex: 1;
        text-align: center;
      }
    }
  }

  .required-resources {
    flex: 1;
  }
}

@media (width <= 1000px) {
  :host {
    padding-bottom: 0;

    .inputs {
      form {
        mat-form-field {
          padding: 8px;
        }
      }

      .stuff-container {
        flex-direction: column;
      }
    }
  }
}
