:host {
  display: flex;
  gap: 32px;

  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  .form-container {
    flex: 1;

    .form-header {
      text-align: center;
    }

    .resource-form {
      .form-group {
        &-equipment {
          .form-group-header {
          }
        }

        &-trophies {
          .form-group-header {
          }
        }
      }
    }
  }

  .required-resources {
    flex: 1;
  }
}

// @media (width <= 1000px) {
//   :host {

//   }
// }
