@let mobileView = isMobileView();
@let formSubmitted = isFormSubmitted();

@if (!mobileView || !formSubmitted) {
  <section class="form-container">
    <h2 class="form-header">Select Items</h2>

    <form [formGroup]="equipmentForm" class="resource-form">
      <div formGroupName="equipment" class="form-group-equipment">
        @let equipmentGroup = "equipment";

        <h3 class="form-group-header">Gear</h3>

        @for (input of inputs.equipment; track $index) {
          <mat-form-field class="form-field">
            <mat-label>{{ input.label }}</mat-label>
            <input
              type="text"
              [attr.aria-label]="input.label"
              matInput
              [formControlName]="input.control"
              [matAutocomplete]="auto"
              (focus)="onInputSelected(equipmentGroup, input.control)"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="autocompleteDisplay"
            >
              @for (option of filteredOptions$ | async; track $index) {
                <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>

            @if (isInputValue(equipmentGroup, input.control)) {
              <button
                mat-icon-button
                matSuffix
                aria-label="Clear"
                (click)="clearInput(equipmentGroup, input.control)"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        }
      </div>

      <div formGroupName="trophies" class="form-group-trophies">
        @let trophyGroup = "trophies";

        <h3 class="form-group-header">Trophies</h3>

        @for (input of inputs.trophies; track $index) {
          <mat-form-field class="form-field">
            <mat-label>{{ input.label }}</mat-label>
            <input
              type="text"
              [attr.aria-label]="input.label"
              matInput
              [formControlName]="input.control"
              [matAutocomplete]="auto"
              (focus)="onInputSelected(trophyGroup, input.control)"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="autocompleteDisplay"
            >
              @for (option of filteredOptions$ | async; track $index) {
                <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>

            @if (isInputValue(trophyGroup, input.control)) {
              <button
                mat-icon-button
                matSuffix
                aria-label="Clear"
                (click)="clearInput(trophyGroup, input.control)"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        }
      </div>

      <button
        class="submit"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>
  </section>
}

@if (!mobileView || formSubmitted) {
  <section class="required-resources">
    <required-resources (backEvent)="backToForm()"></required-resources>
  </section>
}
