:host {
  display: flex;
  gap: 32px;
  padding: 16px;

  .inputs {
    flex: 1;

    h2 {
      text-align: center;
      padding-bottom: 16px;
      margin-top: 0;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        flex: 1 0 50%;
        box-sizing: border-box;
        padding: 16px;
      }

      .submit {
        flex: 1 0 50%;
        box-sizing: border-box;
        margin-top: 16px;
        height: 56px;
      }
    }

    .stuff-container {
      display: flex;
      align-items: center;
      margin: 16px;

      .info-container {
        flex: 1;
      }

      .image-container {
        flex: 1;
        text-align: center;
      }
    }
  }

  .recipe {
    flex: 1;

    .resource-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h2 {
      padding-bottom: 16px;
      margin-top: 0;
    }

    .recipe-actions {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;

      button {
        max-width: 320px;
      }
    }

    .resource-container {
      max-height: 560px;
      overflow-y: auto;

      border: 2px solid cyan;
      border-radius: 4px;
      padding: 16px;

      .resource {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 20px;
        border-bottom: 1px dotted gray;

        .img-container {
          display: flex;
          align-items: center;
          justify-content: end;
          width: 60px;

          .resource-img {
            height: 32px;
          }
        }

        &-name {
          flex: 2;
        }

        &-quantity {
          flex: 1;
        }
      }
    }
  }
}

@media (width <= 1000px) {
  :host {
    .inputs {
      form {
        mat-form-field {
          padding: 8px;
        }
      }

      .stuff-container {
        flex-direction: column;
      }
    }
  }
}
